%elevation {
  --sl-shadow-x-small: 0 1px 0 #0d131e0d;
  --sl-shadow-small: 0 1px 2px #0d131e1a;
  --sl-shadow-medium: 0 2px 4px #0d131e1a;
  --sl-shadow-large: 0 2px 8px #0d131e1a;
  --sl-shadow-x-large: 0 4px 16px #0d131e1a;
}
